<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      </head>
    <body>
        <h1>Greetings, <%= @user.name %></h1>
    <table>
          <tr><td>Checkout these links:</td> </tr>
                      <% @urls.each do |url| %>
                        <tr>  <td><%= url %></td> </tr>
                                <% end %>
      </table>
    </body>
</html>
